.bgImg1 {
  background-image: url("../images/slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImg2 {
  background-image: url("../images/slide2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImg3 {
  background-image: url("../images/slide3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgImgHeader {
  background-image: url("../images/slider-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgImgHeader2 {
  background-image: url("../images/offices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgImgHeader3 {
  background-image: url("../images/hrd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}