.subnavbar {
    border-top: 3px solid #042e4f;
    border-bottom: 3px solid #042e4f;
    border-left: 3px solid #042e4f;
    border-right: 3px solid #042e4f;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.subnavbar a {
    font-size: 22px;
    font-weight: 600;
    margin: 0 30px;
    margin-bottom: 5px;
    color: #042e4f;
}

.subnavbar a:hover {
    font-size: 22px;
    font-weight: 600;
    color: #189bff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #042e4f;
    border-bottom: 3px solid #042e4f;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
    font-size: 20px;
    color: #0077d1;
    float: left;
    width: 44px;
    height: 44px;
    background: #ebf6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #042e4f;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i,
.contact .info .fax:hover i {
    background: #0077d1;
    color: #ffffff;
}

.contact input,
.contact textarea {
    border-color: #042e4f;
}

.contact .php-email-form input {
    height: 44px;
    border-color: #042e4f;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact label {
    color: #042e4f;
    font-weight: bold;
}


/* Contact Us Form */
.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #042e4f;
    border-bottom: 3px solid #042e4f;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #042e4f;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact button[type="submit"] {
    background: #ffa931; 
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
}

.contact button[type="submit"]:hover {
    background: linear-gradient(to right, #ffa931, #e6c17c);
    transform: translateY(10px);
    transition: 0.5s;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background: #f0f0f0;
    transition: 0.5s;
}

.team .teamall {
    padding-top: 90px;
    color: #37517e;
}

.team .teamall:hover {
    transform: translateY(-10px);
}

.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover {
    transform: translateY(-10px);
    border-radius: 30px;
    box-shadow: 5px 10px #ebf6ff;
    background: #f3faff;
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #042e4f;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #3f3f3f;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #ebf6ff;
}

.team .member .social a i {
    color: #0077d1;
    font-size: 20px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: #0077d1;
}

.team .member .social a:hover i {
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #042e4f;
}

.section-title h4 {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    color: #074474;
}

.section-title p {
    margin-bottom: 0;
}

.team ul {
    list-style: none;
}

.team li {
    padding-bottom: 10px;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffa931;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #ffffff;
    color: #ffa931;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #ffa931;
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-fb Button
--------------------------------------------------------------*/
.back-to-fb {
    position: fixed;
    right: 15px;
    bottom: 70px;
    z-index: 99999;
}

.back-to-fb i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3b5998;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #3b5998;
    transition: all 0.4s;
}

.back-to-fb i:hover {
    background: #3b5998;
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-insta Button
--------------------------------------------------------------*/
.back-to-insta {
    position: fixed;
    right: 15px;
    bottom: 125px;
    z-index: 99999;
}

.back-to-insta i {
    display: flex;
    align-items: center;
    border: 2px solid #e03cc5;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #e03cc5;
    transition: all 0.4s;
}

.back-to-insta i:hover {
    background: linear-gradient(to bottom right, #401275, #c739c7, #e983e0, #f3e95d);
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-twitt Button
--------------------------------------------------------------*/
.back-to-twitt {
    position: fixed;
    right: 15px;
    bottom: 180px;
    z-index: 99999;
}

.back-to-twitt i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00acee;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #00acee;
    transition: all 0.4s;
}

.back-to-twitt i:hover {
    background: #00acee;
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-goog Button
--------------------------------------------------------------*/
.back-to-goog {
    position: fixed;
    right: 15px;
    bottom: 235px;
    z-index: 99999;
}

.back-to-goog i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #db4a39;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #db4a39;
    transition: all 0.4s;
}

.back-to-goog i:hover {
    background: #db4a39;
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-link Button
--------------------------------------------------------------*/
.back-to-link {
    position: fixed;
    right: 15px;
    bottom: 290px;
    z-index: 99999;
}

.back-to-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0e76a8;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #0e76a8;
    transition: all 0.4s;
}

.back-to-link i:hover {
    background: #0e76a8;
    color: #fff;
}

/*--------------------------------------------------------------
# Back-to-dark Button
--------------------------------------------------------------*/
.back-to-dark {
    position: fixed;
    right: 15px;
    bottom: 345px;
    z-index: 99999;
}

.back-to-dark i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9d9d9d;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
    transition: all 0.4s;
}

.back-to-dark i:hover {
    background: #000000;
    color: #fff;
}



#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    background: #ffa931;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 15px 15px 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    border: 0;
    padding: 6px 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: linear-gradient(to right, #ffa931, #e6c17c);
    transform: translateY(-10px);
    transition: 0.5s;
    color: #fff;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}


.applyetc {
    background: #ffa931; 
    border: 0;
    padding: 8px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
}

.applyetc:hover {
    background: linear-gradient(to right, #ffa931, #e6c17c);
    transform: translateY(10px);
    transition: 0.5s;
}